style


body{
    font-family: 'Poppins', sans-serif;
    background-color:rgb(240, 214, 253);
}

header{
    background-color: #00000000;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1{
    font-size: 25px;
}

nav li{
    font-size: 25px;
    display: inline;
    margin: 0 5px 0 25px;
}

nav a{
    text-decoration: none;
    color: #fc0101;
    text-transform: uppercase;
}

.conteudo-principal{
    display:flex;
    justify-content:space-around;
    align-items: center;
}

